html {
  font: 14px/1.4 sans-serif;
  height: 100vh;
  min-width: 200vw;
  min-height: 200vh;
  background: linear-gradient(to right, #9EF, #9EF 1px, transparent 1px, transparent), linear-gradient(to bottom, #9EF, #9EF 1px, transparent 1px, transparent);
  background-size: 32px 32px;
}

body {
  margin: 0;
}

/* Header to be made disappearing */
.app-header {
  width: 100%;
  padding: 0.5rem;
  user-select: none;
  position: fixed;
  z-index: 2;
  border-bottom-right-radius: 1rem;
  background: rgba(255,255,255,.8);
  border-bottom: solid 1px;
  display: flex;
  align-items: center;
}

.space {
  position: relative;
  z-index: 1;
}

h1 {
  margin: 0;
  font-size: 20px;
  opacity: .6;
  margin-right: 2rem;
}

.card {
  padding: 10px;
  border: solid 1px;
  background: #ffd;
  position: absolute;
  width: 256px;
  min-height: 64px;
  box-shadow: -5px -5px 10px -5px rgba(0,0,0,.5);
}
.card p {
  margin: 0;
}
.card textarea {
  width: 100%;
  resize: vertical;
}
